body {
	background-image:url(../img/map.png);
	background-size: 150%;
	font-family: Segoe UI;
	z-index: -51;
}
a {
	text-decoration: none;
	color: #fff;
}
.side_button {
	width: 10%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.side_button:hover {
	z-index: 100;
	width: 200px;
	height: 900px;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	margin-left: 0;
	margin-top: 0;
	padding-left: 10px;
	padding-top: 10px;
	-webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}
header {
	width: 100%;
	height: 50px;
}
.button {
	float: right;
	width: 120px;
	height: 29px;
	background-color: #5ecc7b;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 6px;
}
.button p {
	display: block;
	text-align: center;
	height: 1em;
	margin-top:3px;
	font-weight: 300;
}
#logo{
	margin-top: 200px;
	display: block;
	text-align: center;
}
.search {
    background:rgba(50, 50, 50, 0.2);
    margin: auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 50%;
}
input[type="text"] {
	height: 30px;
	width: 94%;
	border-radius: 5px;
	border:0px solid #dbdbdb;
	float: left;
}
#map_pointer {
	float: right;
	margin-top: 3px;
}
::-webkit-input-placeholder { /* For WebKit browsers */
	padding-left: 20px;
	padding-bottom: 20px;
    color:    #cfcfcf;
    font-family:Segoe UI;
    font-weight:300;
}
.weather_button {
	background-color: #5ecc7b;
	width: 180px;
	height: 40px;
	display: block;
	text-align: center;
	margin:auto;
	margin-top: 80px;
	border-radius: 6px;
}
.weather_button p {
	font-weight: 300;
	font-size: 1.1em;
	margin-top: 20px;
	padding-top: 7px;
}